.card {
  transition: all ease-in-out 0.3s;

  list-style: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;
  color: black;
}

.card.dark {
  color: white;
}

.card__image {
  border-radius: 50px;
  height: 100px;
}
